#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 70px;
    font-family: sans-serif;
}